probro:
  version: 0.1.0

server:
  servlet:
    context-path: /
  tomcat:
    uri-encoding: UTF-8
    max-threads: 1000
    min-spare-threads: 30

spring:
  profiles:
    #active: prod
    active: dev

  application:
    name: antifraud-web
  jackson:
    locale: zh_CN
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss

debug: true
logging:
  level:
    com.hsbc: debug
    org.springframework.boot.autoconfigure: ERROR
  config: classpath:logback-spring.xml
  file:
    path: ./antifraud_log

# following are application specific configurations
antifraud:
  # supported rule names
  ruleNames: rule1, rule2, rule3
  # supported feature names
  featureNames: xAmounts, xIllegalLogins, xLargeAmountCnts
  # mocked account size
  accounts: 5
  # the thread pool which locates in feature computing for parallel computing purpose
  coreSize: 16
  maxSize: 128
  # mq related configurations
  endpoint: http://1712034974828389.mns.cn-hangzhou.aliyuncs.com
  queueName: antifraud
  accessKey: jhrpkZWwB07OOcIODDJJCULUbmD15N
  accessId: LTAI5t5rXruySp3XJaSNo5ng
  periodThreshold: 64
  # concurrent consumers allowed which can consume message in concurrent way
  consumers: 2
  consumerMax: 8

